camel-archetype-spring-boot-fuse-7-bom/src/main/resources/archetype-resources/src/main/resources/wsdl/contract.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://example.org/basic-api/person"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://example.org/basic-api/person"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <xsd:schema targetNamespace="http://example.org/basic-api/person" elementFormDefault="qualified">
            <xsd:element name="GetPerson">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="email" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetPersonResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="firstName" type="xsd:string" />
                        <xsd:element minOccurs="0" name="lastName" type="xsd:string" />
                        <xsd:element minOccurs="0" name="email" type="xsd:string" />
                        <xsd:element minOccurs="0" name="age" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetPersonMessage">
        <wsdl:part name="parameters" element="tns:GetPerson" />
    </wsdl:message>
    <wsdl:message name="GetPersonResponseMessage">
        <wsdl:part name="parameters" element="tns:GetPersonResponse" />
    </wsdl:message>

    <wsdl:portType name="PersonPortType">
        <wsdl:operation name="getPerson">
            <wsdl:input message="tns:GetPersonMessage" name="getPersonRequest" />
            <wsdl:output message="tns:GetPersonResponseMessage" name="getPersonResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="PersonBinding" type="tns:PersonPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getPerson">
            <soap:operation soapAction="http://example.org/basic-api/person/get" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="PersonService">
        <wsdl:port name="PersonPort" binding="tns:PersonBinding">
            <soap:address location="http://localhost:8080/PersonService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>